@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kevin Wladimir Diaz Sandoval<br />
    Quito, Ecuador <br />
    <abbr title="Phone">0980515022</abbr>
   
</address>

<address>
    <strong>Contact:</strong> <a>kevindiaz1941@gmail.com</a><br />
   
</address>